# TELEGRAM BOT SOZLAMALARI
# 1. @BotFather orqali yaratilgan bot tokeni:
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# 2. Xabarlar borishi kerak bo'lgan do'kon egasi yoki guruh chat ID si (@userinfobot orqali):
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
